/* Fake Google Css*/
* { 
margin: 0;
padding: 0;
  }


body {
font-family: Ariel; sans-serif;
font-size: 13px;
	 }


h1#logo {
  width: 269px;
  height: 95px;
  background: url('images/google.png') top left no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  margin: 0 auto;
         }

#container {
	width: 580px;
	margin: 0px auto;
	text-align: center;
		}
		
input[type="text"] {
	width: 566px;
	padding: 7px;
	margin: 25px 0 18px;
	border: solid 1px #ccc;
	font-size: 14px;
	         }
	
	input[type="text"]:hover {
		border-color: #aaa;
					}
	
	input[type="submit"] {
		background: #eee;
		color:#333;
		border: solid 1 px #ddd;
		padding: 5px;
		font-size: 11px;
		font-family: Arial, sans-serif:
		font-weight: bold;
		margin: 0px 5 px
						}
	
	
	input[type="text"]:hover {
		cursor: pointer:
							}
			
	small {
		display: block;
		margin: 10px 0 0 0;
		font-size; 12px;
			}
		
	a:link {
		 color: dodgerblue;
			}
			
	a:visted {
		color: hotpink;
			}
			
	nav#header {
		text-align;
		padding: 20px;
				}
	
	nav#header  ul li {
		display: inline;
						}
	
	nav#header ul li a:link;
	nav#header ul li a: visted;
	footer#nav ul li a; link;
	footer#nav ul li a; visted;  {
			color: #555;
			text-decoration: none;
			padding: 10px;
			}
			
			
	nav#header ul li a:hoover; 
	footer nav ul li a: hoover; {
		text-decoraton: underline;
			                    }
	
	nav#header ul  {
		float: right;
					}
	
	footer {
		background: #eee;
		padding: 20px;
		position: fixed;
		bottom: 0;
		width: 100%;
	    	}
		
	footer nav {
		padding: 20px;
		}
		
	footer nav ul{
		float: left;
		}
		
	footer nav ul li {
		display: inline;
				}
		
	footer nav ul.right{
		float:right;
		text-align: right;
		}
		
		
	.clearfix:after {
		content: "";
		display: table;
		clear: both;
				}